@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --bg: hsl(230, 17%, 14%);
  --top-bg-pattern: hsl(232, 19%, 15%);
  --card-bg: hsl(228, 28%, 20%);
  --car-bg-hover: hsl(228, 26%, 27%);
  --text-1: hsl(228, 34%, 66%);
  --text-2: hsl(0, 0%, 100%);
}

[data-theme=light] {
  --bg: hsl(0, 0%, 100%);
  --top-bg-pattern: hsl(225, 100%, 98%);
  --card-bg: hsl(227, 47%, 96%);
  --car-bg-hover: hsl(232, 33%, 91%);
  --text-1: hsl(228, 12%, 44%);
  --text-2: hsl(230, 17%, 14%);
}

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  background-color: var(--bg);
}

ul {
  list-style: none;
  padding: 0;
}

#switch {
  display: none;
}

.switch-text {
  color: var(--text-1);
  font-weight: 700;
}

#switch-btn {
  cursor: pointer;
  background-image: linear-gradient(to right, #378fe6, #3eda82);
  width: 48px;
  height: 24px;
  display: block;
  border-radius: 15px;
  position: relative;
}
#switch-btn:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 3px;
  width: 18px;
  height: 18px;
  background: var(--card-bg);
  border-radius: 90px;
  transition: 0.3s;
  transform: translateY(-50%);
}

#switch:checked + #switch-btn:after {
  left: calc(100% - 3px);
  transform: translate(-100%, -50%);
}

.container {
  width: 80%;
  margin: auto;
  max-width: 1200px;
}

header {
  background-color: var(--top-bg-pattern);
}
header .title h1,
header .title p {
  margin: 0;
}
header .title h1 {
  color: var(--text-2);
}
header .title p {
  margin-top: 0.1rem;
  font-weight: 700;
  color: var(--text-1);
}
header .container {
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 2rem 0;
}
@media screen and (max-width: 480px) {
  header .container {
    width: 90%;
    flex-direction: column;
  }
  header .container .title {
    border-bottom: 1px solid var(--text-1);
    padding-bottom: 1rem;
  }
  header .container .title h1 {
    font-size: 1.4rem;
  }
}
header .switch-container {
  display: flex;
  gap: 1rem;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 480px) {
  header .switch-container {
    padding-top: 1rem;
    width: 92%;
    justify-content: space-between;
  }
}

.followers-cards {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.card-wrapper {
  border-radius: 5px 5px 10px 10px;
  padding-top: 5px;
}
.card-wrapper.facebook {
  background: #198ff5;
}
.card-wrapper.twitter {
  background: #1ca0f2;
}
.card-wrapper.instagram {
  background-image: linear-gradient(to right, #fdc468, #df4996);
}
.card-wrapper.youtube {
  background: #c4032a;
}

.followers-card {
  background-color: var(--card-bg);
  width: 100%;
  height: 100%;
  border-radius: 0 0 5px 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.followers-card:hover {
  background-color: var(--car-bg-hover);
}
.followers-card > span {
  padding: 1rem 0;
}

.followers-card--title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.followers-card--title .text {
  font-size: 0.8rem;
  font-weight: 700;
  color: var(--text-1);
}

.total-followers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.total-followers .followers-card--number {
  font-size: 3.5rem;
  font-weight: 700;
  color: var(--text-2);
}
.total-followers .followers-text {
  letter-spacing: 5px;
  font-size: 0.9rem;
  color: var(--text-1);
}

.followers-today {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
  font-size: 0.8rem;
  font-weight: 700;
}
.followers-today .arrow {
  width: 10px;
  height: 10px;
  background-position: center;
  background-repeat: no-repeat;
}
.followers-today.up {
  color: #1db489;
}
.followers-today.up .arrow {
  background: url("../../images/icon-up.svg");
  background-position: center;
  background-repeat: no-repeat;
}
.followers-today.down {
  color: #dc414c;
}
.followers-today.down .arrow {
  background: url("../../images/icon-down.svg");
  background-position: center;
  background-repeat: no-repeat;
}

@media screen and (max-width: 480px) {
  .followers-cards {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}
@media screen and (max-width: 884px) {
  .followers-cards {
    grid-template-columns: auto auto;
    gap: 2rem;
  }
}
.overview {
  margin-top: 3rem;
}
.overview .title {
  color: var(--text-2);
}

.overview-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto auto;
  gap: 2rem;
}

.overview-card {
  border-radius: 5px;
  display: grid;
  justify-items: center;
  align-items: baseline;
  grid-template-columns: auto auto;
  gap: 2rem;
  padding: 2rem;
  background-color: var(--card-bg);
}
.overview-card:hover {
  background-color: var(--car-bg-hover);
}
.overview-card .overview-type {
  font-weight: 700;
  color: var(--text-1);
  justify-self: start;
}
.overview-card .total {
  font-size: 2rem;
  font-weight: 700;
  color: var(--text-2);
  justify-self: start;
}
.overview-card .icon {
  justify-self: end;
}
.overview-card .status {
  display: flex;
  align-items: baseline;
  font-size: 0.9rem;
  font-weight: 700;
  justify-self: end;
}
.overview-card .status .arrow {
  width: 10px;
  height: 10px;
  background-position: center;
  background-repeat: no-repeat;
}
.overview-card .status.up {
  color: #1db489;
}
.overview-card .status.up .arrow {
  background: url("../../images/icon-up.svg");
  background-position: center;
  background-repeat: no-repeat;
}
.overview-card .status.down {
  color: #dc414c;
}
.overview-card .status.down .arrow {
  background: url("../../images/icon-down.svg");
  background-position: center;
  background-repeat: no-repeat;
}

/*# sourceMappingURL=style.css.map */
