@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background-color: #0f1424;
  font-family: Rubik;
  display: flex;
  align-items: center;
  justify-content: center;
}

ul {
  list-style: none;
}

.container {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
}

@media screen and (max-width: 450px) {
  .container {
    align-items: flex-start;
    padding: 5rem 0;
  }
}
.dashboard {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 450px) {
  .dashboard {
    flex-direction: column;
  }
}
.durations,
.profile-info,
.user-name {
  display: flex;
  flex-direction: column;
}

.user-info {
  margin-top: 2rem;
}

.profile-info {
  padding: 2rem;
  padding-right: 6rem;
  padding-bottom: 3rem;
}

.dashboard-header,
.profile-info {
  border-radius: 1rem;
}

.dashboard-header {
  background-color: #1c1f4a;
}
.dashboard-header .profile-info {
  background-color: #5847eb;
}
.dashboard-header .profile-info .report-for {
  font-size: 0.8rem;
  color: #bdc1ff;
}
.dashboard-header .profile-info .user-name {
  font-size: 2rem;
  font-weight: 100;
}
.dashboard-header .profile-info .avatar {
  width: 5rem;
  border-radius: 50%;
  border: 3px solid white;
}

.durations {
  padding: 2rem;
}
.durations .duration {
  cursor: pointer;
  margin-top: 1rem;
}
.durations .duration:first-of-type {
  margin-top: 0;
}

@media screen and (max-width: 450px) {
  .durations,
.profile-info,
.user-name {
    flex-direction: row;
  }

  .dashboard-header .profile-info {
    padding: 2rem;
  }
  .dashboard-header .profile-info .user-name {
    font-size: 1.5rem;
  }
  .dashboard-header .profile-info .avatar {
    width: 3.5rem;
  }

  .user-info {
    margin-top: 0;
    margin-left: 1rem;
  }

  .last-name {
    margin-left: 1rem;
  }

  .durations .duration {
    margin-top: 0rem;
  }
}
.tiemframes .work-timeframe {
  background-color: #ff8c66;
  background-image: url("images/icon-work.svg");
}
.tiemframes .play-timeframe {
  background-color: #56c2e6;
  background-image: url("images/icon-play.svg");
}
.tiemframes .exercise-timeframe {
  background-color: #4acf81;
  background-image: url("images/icon-exercise.svg");
}
.tiemframes .study-timeframe {
  background-color: #ff5c7c;
  background-image: url("images/icon-study.svg");
}
.tiemframes .social-timeframe {
  background-color: #7536d3;
  background-image: url("images/icon-social.svg");
}
.tiemframes .self-care-timeframe {
  background-color: #f1c65b;
  background-image: url("images/icon-self-care.svg");
}

.tiemframes {
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
}
.tiemframes .row {
  display: flex;
  flex-direction: row;
}
.tiemframes .row.row-2 {
  margin-top: 2rem;
}
.tiemframes .timeframe {
  background-repeat: no-repeat;
  background-position: calc(100% - 1rem) -0.8rem;
  background-size: 4.5rem;
  padding-top: 2.5rem;
  border-radius: 1rem;
  margin-left: 2rem;
}
.tiemframes .timeframe:first-of-type {
  margin-left: 0;
}
.tiemframes .timeframe-content {
  background-color: #1c1f4a;
  cursor: pointer;
  border-radius: 1rem;
  padding: 1rem;
}
.tiemframes .timeframe-content:hover {
  background-color: #323777;
}
.tiemframes .timeframe-content .title {
  position: relative;
  font-size: 0.9rem;
  font-weight: 400;
}
.tiemframes .timeframe-content .title::before {
  content: "";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  position: absolute;
  right: 1rem;
}
.tiemframes .duration {
  padding-right: 4rem;
  min-width: 200px;
}
.tiemframes .duration .current {
  font-size: 3.2rem;
  font-weight: 100;
  margin-bottom: 0.5rem;
}
.tiemframes .duration .previous {
  font-size: 0.8rem;
  color: #bdc1ff;
}

@media screen and (max-width: 450px) {
  .tiemframes {
    margin: 0;
  }
  .tiemframes .row {
    flex-direction: column;
  }
  .tiemframes .row.row-2 {
    margin-top: 0;
  }
  .tiemframes .timeframe {
    padding-top: 2.5rem;
    border-radius: 1rem;
    margin-left: 0;
    margin-top: 1rem;
  }
}

/*# sourceMappingURL=style.css.map */
