@use '../mixins';
@use '../colors';

.overview{
  margin-top: 3rem;
  .title{
    color: var(--text-2);
  }
}

.overview-cards{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto auto;
  gap: 2rem;

  @include mixins.tablet(){
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  @include mixins.mobile(){
    display: flex;
    flex-direction: column;
    // padding-bottom: 2rem;
  }
}

.overview-card{
  border-radius: 5px;
  display: grid;
  justify-items: center;
  align-items: baseline;
  grid-template-columns: auto auto;
  gap: 2rem;
  
  padding: 2rem;
  background-color: var(--card-bg);

  @include mixins.mobile(){
    gap:1rem;
    padding: 1rem 2rem;
  }

  &:hover{
    background-color: var(--car-bg-hover);
  }

  .overview-type{
    font-weight: 700;
    color: var(--text-1);
    justify-self: start;
  }

  .total{
    font-size: 2rem;
    font-weight: 700;
    color: var(--text-2);
    justify-self: start;

    @include mixins.mobile(){
      font-size: 1.5rem;
    }
  }
  
  .icon{
    justify-self: end;
  }

  .status{
    display: flex;
    align-items: baseline;
    font-size: .9rem;
    font-weight: 700;
    justify-self: end;
    gap: .3rem;

    .arrow{
      width: 10px;
      height: 10px;
      background-position: center;
      background-repeat: no-repeat;
    }

    &.up{
      .arrow{
        background: url('../../images/icon-up.svg');
        background-position: center;
        background-repeat: no-repeat;
      }
      color: colors.$lime-green
    }
    &.down{
      .arrow{
        background: url('../../images/icon-down.svg');
        background-position: center;
        background-repeat: no-repeat;
      }
      color: colors.$bright-red
    }
  }
}
