.nav-container {
  // position: relative;

  .my-links {
    padding: 0;
    margin: 0;
    // width: 0;
    // opacity: 0;
    display: none;

    span{
      display: none;
    }
  }
}

@media screen and (min-width: 768px) {
  .nav-container {

    .my-links {
      width: 200px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      a:hover img {
        filter: drop-shadow(3px 3px 3px gray);
      }
    }
  }
}