@use './colors';


.durations,
.profile-info,
.user-name {
  display: flex;
  flex-direction: column;
}

.user-info{
  margin-top: 2rem;
}

.profile-info {
  padding: 2rem;
  padding-right: 6rem;
  padding-bottom: 3rem;
}

.dashboard-header,
.profile-info {

  border-radius: 1rem;
}

.dashboard-header {
  background-color: colors.$dark-blue;

  .profile-info {
    background-color: colors.$blue;

    .report-for {
      font-size: 0.8rem;
      color: colors.$pale-blue;
    }

    .user-name {
      font-size: 2rem;
      font-weight: 100;
    }

    .avatar {
      width: 5rem;
      border-radius: 50%;
      border: 3px solid white;
    }
  }
}

.durations {
  padding: 2rem;

  .duration {
    cursor: pointer;
    margin-top: 1rem;
    color: colors.$pale-blue;
    &:hover,
    &.selected-duration{
      color: white;
    }

    &:first-of-type {
      margin-top: 0;
    }
  }
}

@media screen and (max-width: 450px) {

  .durations,
  .profile-info,
  .user-name {
    flex-direction: row;
  }

  .dashboard-header {
  
    .profile-info {
  
      padding: 2rem;
      .user-name {
        font-size: 1.5rem;
      }
  
      .avatar {
        width: 3.5rem;
      }
    }
  }

  .user-info{
    margin-top: 0;
    margin-left: 1rem;
  }

  .last-name{
    margin-left: 1rem;
  }

  .durations {
    justify-content: space-between;
    .duration {
      margin-top: 0rem;
    }
  }
}